ol{
    background-image: url('photo-1687094777716-dfa213703508.avif');
    background-repeat: no-repeat;
    height: 400px;
    color: rgb(28, 120, 201);
}
ol{
             margin-top:65px;margin-bottom:65px;
             margin-left:65px;margin-right:60;
             padding-top:65px;
             padding-bottom:65;
             padding-left:65px;
            padding-right:65px;
       
}
ol{
         font-size:4em;font-family: 'Poppins', sans-serif;     
} 